@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Space Grotesk";
}

body {
    position: relative;
    height: 100vh;
}

.plane__container {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 50%;
    margin-top: -120px;
}

.hud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.hud-item {
    display: inline-flex;
     align-items: center;
     gap: 10px;
}
